/* Reset some default styles and set a base font */
body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00000037;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Container styling for the main content */
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Styling for main heading */
h1 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
  

  /* Button styling */
button {
    background-color: #4c4c4c;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }

  /* Hover effect for buttons */
button:hover {
    background-color: #1f1f1f;
  }
  

  /* Styling for timer container */
#timer-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  /* Styling for time label */
#time-label {
    font-size: 24px;
    color: #000000;
    margin-right: 5px;
  }
  